<?xml version="1.0" encoding="UTF-8"?>
<configuration >
    <contextName>seller_lx</contextName>
    <!--<property  name="log.path"  value="E:\springboot-imooc-logs\"/>-->
    <!--输出到控制台-->
    <appender name="consoleLog" class="ch.qos.logback.core.ConsoleAppender" >
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %contextName %-5level [%thread] %logger{36} - %msg%n</pattern>
        </encoder>

    </appender>
    <!--输出到文件-->
    <appender name="infoFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>DENY</onMatch>
            <onMismatch>ACCEPT</onMismatch>
        </filter>
        <!--滚动策略-->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!--文件路径-->
            <fileNamePattern>E:\springboot-imooc-logs\logback-seller_lx.%d{yyyy-MM-dd}.info.log</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %contextName %-5level [%thread]  %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="errorFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
        </filter>
        <!--滚动策略-->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!--文件路径-->
            <fileNamePattern>E:\springboot-imooc-logs\logback-seller_lx.%d{yyyy-MM-dd}.error.log</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %contextName %-5level [%thread] %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <root>
        <appender-ref ref="consoleLog" />
        <appender-ref ref="infoFile" />
        <appender-ref ref="errorFile" />
    </root>
</configuration>
